body{
   background-color: rgb(65, 82, 76);
}

div{
 width: 300px;
 height: 100px;
background-color: rgb(240, 225, 18);
margin: 10px;

}

.arredondado{
  border-radius: 50px; 

}

#cor{
    background-color: rgb(2, 1, 1);
}

h6{
    font-size: 50px;
}

.logo_google{
    width: 100px;
    position: fixed;
    right: 0;
    bottom: 0;

}